<%= form_for(@contact_info) do |f| %>
  <% if @contact_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_info.errors.count, "error") %> prohibited this contact_info from being saved:</h2>

      <ul>
      <% @contact_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_type %><br />
    <%= f.text_field :contact_type %>
  </div>
  <div class="field">
    <%= f.label :contact_description %><br />
    <%= f.text_field :contact_description %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
