<style type="text/css">
</style>
<div class="ui-widget ui-widget-content container">
		<div class="content">
          <%= render 'shared/header' %>
          <%= render 'shared/navbar' %>f
			<div id="mainmenu_tabs">
			<ul>
              <li><a href="#unit_tab">Units</a></li>
              <li><a href="#contact_info_tab">Persons</a></li>
              <li><a href="#access_devices_tab">Access Devices</a></li>
              <div id="unit_tab">
                <%= link_to 'List/Search Condo Units', unit_path %>
              </div>
              <div id="contact_info_tab">
                <%= link_to 'List/Search Contact Info', contact_info_path %>
              </div>
              <div id="unit_tab">
                <%= link_to 'List/Search Access Devices', access_device_path %>
              </div>
            </ul>
			</div>

		<div id="switcher"></div>

		<!-- end .content --></div>

<!-- end .container --></div>
