<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tax_Assesor_ID %><br />
    <%= f.text_area @tax_assesor_id %>
  </div>
  <div class="field">
    <%= f.label :Building %><br />
    <%= f.text_field @building %>
  </div>
  <div class="field">
    <%= f.label :Number%><br />
    <%= f.text_field @unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
