<div class="container">
  <%= render 'shared/header' %>
  <%= render 'shared/navbar' %>
  <div class="content">
  <h1>Listing units</h1>
    <p>Click to open the date picker:</p>
    <p><input type="text" class="datepicker"></p>
        <table id="unit_list">
         <thead>
              <tr>
                <th>Tax Assessor ID</th>
                <th>Legal Owner</th>
                <th>Block</th>
                <th>Unit</th>
              </tr>
         </thead>
         <tbody>
        <% @units.each do |unit| %>
                  <tr>
                    <td><%= unit.tax_assesor_id %></td>
                    <td><%= unit.legal_owner %></td>
                    <td><%= unit.building %></td>
                    <td><%= unit.unit %></td>
                    </tr>
        <% end %>
    </tbody>
</table>
</div>
  <%= render 'shared/footer' %>
</div>